<a href="https://colab.research.google.com/github/Yusubin/jupyter/blob/master/colab_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#리눅스에 업로드 df로 읽기

import pandas as pd

df = pd.read_csv("/content/netflix_titles.csv", sep=",")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [5]:


import pandas as pd

df2 = pd.read_csv("/content/drive/MyDrive/pythomdata/weather.csv", sep=",")
df2

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (35) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
import numpy as np

dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df=pd.DataFrame(data=np.random.randn(6,4),index=dates, columns=['A','B','C','D'])#위에서 생성한 dates (날짜)를 인덱스로 정렬. 
# df=pd.DataFrame(nparray(values), columns=['컬럼명','컬럼명'])
df

                   A         B         C         D
2019-03-01 -0.576171  1.389377  1.209594  0.212335
2019-03-02  0.114761  0.711306 -0.145880 -0.115574
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-04 -1.192859  0.181014  1.780590  1.109723
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458
2019-03-06 -0.365688  0.853494  1.989494 -0.955050

In [15]:
type(df2)

pandas.core.frame.DataFrame

In [23]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.index[2]

Timestamp('2019-03-03 00:00:00', freq='D')

In [28]:
in1=df.index[2]
str(in1)
#리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지않는다.

'2019-03-03 00:00:00'

In [32]:
type(df['A'])

pandas.core.series.Series

In [33]:
a=df['A']
a

2019-03-01   -0.576171
2019-03-02    0.114761
2019-03-03    0.346620
2019-03-04   -1.192859
2019-03-05   -0.661235
2019-03-06   -0.365688
Freq: D, Name: A, dtype: float64

In [35]:
a[0],a[1]

(-0.5761711918657042, 0.11476091745399382)

In [38]:
df.values

array([[-0.57617119,  1.38937745,  1.20959359,  0.2123352 ],
       [ 0.11476092,  0.71130557, -0.14587953, -0.11557392],
       [ 0.34662023,  0.06928884, -0.94173809, -1.614014  ],
       [-1.19285908,  0.18101449,  1.78059046,  1.10972269],
       [-0.66123466, -1.16549564, -0.42836281,  0.41645819],
       [-0.36568765,  0.85349435,  1.98949425, -0.95504966]])

In [43]:
df.sort_index(ascending=True)#오름차순
df.sort_index(ascending=False)#내림차순

                   A         B         C         D
2019-03-06 -0.365688  0.853494  1.989494 -0.955050
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458
2019-03-04 -1.192859  0.181014  1.780590  1.109723
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-02  0.114761  0.711306 -0.145880 -0.115574
2019-03-01 -0.576171  1.389377  1.209594  0.212335

In [47]:
df.sort_values(by='A',ascending=False) #A의 값을 기준으로 내림차순정렬한다.

                   A         B         C         D
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-02  0.114761  0.711306 -0.145880 -0.115574
2019-03-06 -0.365688  0.853494  1.989494 -0.955050
2019-03-01 -0.576171  1.389377  1.209594  0.212335
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458
2019-03-04 -1.192859  0.181014  1.780590  1.109723

In [122]:
df3=df.copy()
df3

                   A         B         C         D
2019-03-01 -0.576171  1.389377  1.209594  0.212335
2019-03-02  0.114761  0.711306 -0.145880 -0.115574
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-04 -1.192859  0.181014  1.780590  1.109723
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458
2019-03-06 -0.365688  0.853494  1.989494 -0.955050

In [123]:
# df3를 B로 정렬해주세요!
# df3의 내용이 변경되어야 합니다.
df3=df3.sort_values(by='B',ascending=False) #inplace....
df3

                   A         B         C         D
2019-03-01 -0.576171  1.389377  1.209594  0.212335
2019-03-06 -0.365688  0.853494  1.989494 -0.955050
2019-03-02  0.114761  0.711306 -0.145880 -0.115574
2019-03-04 -1.192859  0.181014  1.780590  1.109723
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458

In [124]:

# 변경된 df3에서 b, c만 추출하여 df4로 저장
df4=df3[['B','C']]
df4

                   B         C
2019-03-01  1.389377  1.209594
2019-03-06  0.853494  1.989494
2019-03-02  0.711306 -0.145880
2019-03-04  0.181014  1.780590
2019-03-03  0.069289 -0.941738
2019-03-05 -1.165496 -0.428363

In [155]:
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
df3.iloc[0][0]=1

# df3에서 0행에서 2행까지 추출
df3[0:3] #=df3[0:3,:] 
# df3.iloc[:,0:2]#df3.iloc[추출범위행, 추출범위 열]=> 열로 추출가능

                   A         B
2019-03-01  1.000000  1.389377
2019-03-06 -0.365688  0.853494
2019-03-02  0.114761  0.711306
2019-03-04 -1.192859  0.181014
2019-03-03  0.346620  0.069289
2019-03-05 -0.661235 -1.165496

In [157]:
# df3에서 2019-03-01, A열의 값을 추출
df3.iloc[0]['A']
df3.loc['2019-03-01','A']

2019-03-01    1.0
Name: A, dtype: float64

In [158]:
# df3에서 2019-03-01, A열, B열의 값을 추출
df3.iloc[0,0:2]
df3.loc['2019-03-01',['A','B']]

              A         B
2019-03-01  1.0  1.389377

In [160]:

# df3에서 A열의 전체 행을 추출

df3[['A']]
df3.loc[:,'A']

2019-03-01    1.000000
2019-03-06   -0.365688
2019-03-02    0.114761
2019-03-04   -1.192859
2019-03-03    0.346620
2019-03-05   -0.661235
Name: A, dtype: float64

In [161]:
# df3에서 A, C열의 전체 행을 추출
df3[['A','C']]
df3.loc[:,['A','C']]

                   A         C
2019-03-01  1.000000  1.209594
2019-03-06 -0.365688  1.989494
2019-03-02  0.114761 -0.145880
2019-03-04 -1.192859  1.780590
2019-03-03  0.346620 -0.941738
2019-03-05 -0.661235 -0.428363

In [194]:
# df3에서 0번 행렬 추출
df3.iloc[0,:]
#결과가 1행인 경우 Series로 리턴
#결과가 여러행인 경우 DataFrame으로 리턴

A    1.000000
B    1.389377
C    1.209594
D    0.212335
Name: 2019-03-01 00:00:00, dtype: float64

In [193]:
#A행을 추출하여 2번째값을 추출
a=df3.loc[:,'A'][1] #===   a=df3.loc[:,'A'], a[1]
a
# df3.loc[:,'A'].to_list()
#Series는 리스트처럼사용할수있다아

#A행과 C행을 추출하여 1번째 행, 1번째 열의 값을 추출
# b=df3.loc[:,['A','C']]
# b.iloc[1,1]

-0.3656876529121713

In [196]:
df3.shape
# df3.T

(6, 4)

In [150]:
# df3에서 5행 전체 전체 열 추출
df3.iloc[5:,:]

                   A         B         C         D
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458

In [149]:
# df3에서 4행부터 추출
df3.iloc[4:,:]

                   A         B         C         D
2019-03-03  0.346620  0.069289 -0.941738 -1.614014
2019-03-05 -0.661235 -1.165496 -0.428363  0.416458

In [197]:
# df3에서 0, 3행, 1부터 2열까지 추출
df3.iloc[[0,3],1:3]

                   B         C
2019-03-01  1.389377  1.209594
2019-03-04  0.181014  1.780590

In [135]:
# df3에서 1,2,5행, 1,3열 추출
df5=df.iloc[[1,2,5],[1,3]]

df5

                   B         D
2019-03-02  0.711306 -0.115574
2019-03-03  0.069289 -1.614014
2019-03-06  0.853494 -0.955050